/* Web Colors

Background Color - Beige - #F8EDE3
Font - Black - #000

Link Active - Light Brown - #9E7676 -> #976b6b is better contrast
Link Visited - Medium Brown - #815B5B
Link/Link Hover/Focus - Dark Brown - #594545

Button - Light Brown - #9E7676 -> #976b6b is better contrast
Button Color - #fff

*/

:root {
	--primary-link-color: #594545;
	--visited-link-color: #815B5B;
	--active-link-color: #9E7676;
	--button-bg: #976b6b;
	--grid-item-bg: lightgrey;
	
	/*repeat values*/
	--white-color: #fff;
	--secondary-font-weight: 400;
	--primary-text-decoration: none;
}

/* Main Body */
body {
	background-color: #F8EDE3;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.15;
}

/* Box-Sizing */
* {
	box-sizing: border-box;
}

/* Headings */
h1 {
	font-size: 30px;
	font-weight: var(--secondary-font-weight);
}
h2 {
	font-size: 24px;
	font-weight: var(--secondary-font-weight);
}
h3 {
	font-size: 20px;
	font-weight: var(--secondary-font-weight);
}

/* Links */
a {
	color: var(--primary-link-color);
	text-decoration: var(--primary-text-decoration);
}
a:hover, a:focus {
	text-decoration: var(--primary-text-decoration);
	opacity: 0.7;
}
a:visited {
	color: var(--visited-link-color);
}
a:active {
	color: var(--active-link-color);
}

/* Buttons */
button, .button {
	/* overwrites browser default */
	border: none;
	display: inline-block;
	/* takes font from outer container */
	font-family: inherit;
	/* styling */
	background-color: var(--button-bg);
	color: var(--white-color);
	padding: 10px;
	border-radius: 3px;
	/* width of border, type, color */
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	text-decoration: var(--primary-text-decoration);
	transition: 0.2s opacity;
}
button:hover, button:focus, .button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.83;
}
.button:visited {
	color: var(--white-color);
}

/* Header - Logo & Navigation */
.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
}
.page-header__item {
	flex: 0 1 200px;
}
.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}
.navigation-list {
	list-style-type: none;
}
.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

/* Profile Body */
.profile {
	max-width: 700px;
	margin: 0 auto;
}
.profile__picture {
	float: left;
	width: 250px;
	height: 285px;
	margin-right: 40px;
	border-radius: 50%;
}

/* Footer */
.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.media-links__items {
	width: 30px;
	height: 30px;
}

/* Work HTML Main Content Grid */
.project-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.project-list__item {
	background-color: var(--grid-item-bg);
}


/* media queries */
@media all and (max-width: 500px) {
	.project-list {
		grid-template-columns: 1fr;
	}
}
@media all and (min-width: 500px) and (max-width: 750px) {
	.project-list {
		grid-template-columns: 1fr 1fr;
	}
}
@media all and (max-width: 750px) {
	.project-list {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	.project-list:last-child {
		grid-gap: 10px;
	}
	h2 {
		font-size: 23px;
	}
}



